/** Remove default margin.
 */
body {
  margin: 0;
 font-family: 'Open Sans', sans-serif!important;
 box-sizing: border-box;
 font-size: 13px;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clear{
  clear: both;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img{
  max-width: 100%
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}
.logo {
  width: 145px;
  float: left;
}
.content{
  width: 56%;
  float: left;
  text-align: center;
}
.content h3{
  font-size: 12px;
  margin-top:0;
   margin-bottom:0;
}
.user-image{
  width: 25%;
  float: right;
}
.user-image img{
  width: 110px!important;
  border-radius: 50% 50%;
  height: 110px;
}
.content .address{
  padding: 5px 0;
}
.report{
  border-style: dotted;
  width: 58%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 10px;
}
.table thead th{
  padding: 0;
  vertical-align: inherit;
  padding-left: 10px;
  padding-right: 10px;

}
.table{
  padding-left: 10px;
}
.table thead th:nth-child(2){
  text-align: right;
}
.table thead th:nth-child(3){
  text-align: right;
}
.table-head{
  /*padding-top: 60px;*/
  position: relative;
  margin-bottom: 0;
}

.top-head{
  margin-top: -30px;
}
.table-head .fit{
  position: absolute;
    right: 41%;
    top: 52%;
    width: 10%;
    margin: auto;
    border: 1px solid #000;
    text-align: center;
    padding-top: -4px;
    background: #fff;
    height: 28px;
}
.table-middle td{
  border-top: 0;
  padding: 0;
}
.table-middle td:nth-child(3){
  text-align: right;
}
.table-middle{
  border: 1px solid #000;
  border-top: 0;
}
.left-side .table{
  border-top:1px solid #ddd;
}
.table-head td{
  border-top: 0;
  font-size: 10px;
    margin-top: -20px;
}
.table-wrap{
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table-wrap thead{
   border-bottom: 1px solid #ddd;
}
.table-wrap input{
  border: 1px solid #ddd;
  padding-left: 5px;
  width:  100%;
  font-size: 12px;
}
.table-side input{
  width: 100%;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 12px;
}
.table-resposive input{
  width: 100%;
  border: 1px solid #ddd;
  padding-left: 5px;
  font-size: 12px;
}

.left-side{
  width: 50%;
  float: left;
}
.right-side{
  width: 50%;
  float: right;
}

.right-side .table th, td{
  border: 1px solid #ddd;
 padding: 2px!important;
    font-size: 10px;
}
.left-side .table th, td{
  border: 1px solid #ddd;
  padding: 0!important;

}
.mention{
  font-size:14px;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 100px;
}
.text-contain{
  text-align:left;
    font-size: 12px;

}
.medical-text{
  /*border: 1px solid #ddd;*/
    padding: 5px;
}
.first-signature{
  float: left;
  width: 30%;
  margin-right: 30px;
  margin: auto;
  text-align: center;
}
.first-signature input{
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.last-signature{
  float: left;
  text-align: center;
}
.mobile-image{
  display: none;
}
.table{
  /*border: 1px solid #ddd;*/
}
.border{
  border: 1px solid#555252;
  width: 158px;
    /* height: 3px; */
  display: block;
  margin: auto;
  margin-bottom: 0;
}
/*.footer{
  margin-top: 10px;
}*/
.footer p{
  font-weight: 600;
}
@media only screen and (max-width: 1200px){
  .content{
    width: 50%;
  }
  .user-image{
    width: 23%;
  }
}
@media only screen and (max-width: 1024px){
.result-detail{
  width: 1000px;
  overflow: auto;
}

}
@media only screen and (max-width: 991px){
  .mobile-image{
  display: block;
}
.mobile-user-image{
  display:none;
}
.report{
  width: 82%;
}
.content{
  width: 100%;
}
.user-image img{
  width: 100px!important;
  height: auto;
}
.user-image{
  width: 30%;

}

.text-contain{
  text-align: left;
    margin-bottom: 0;
}

}
@media only screen and (max-width: 767px){
  .left-side{
    float: none;
    width: 70%;
  }
  .right-side{
    float: none;
    width: 70%;
  }
.left-side{
    float: none;
    width: 50%;
  }
  .right-side{
    float: none;
    width: 50%;
  }
  .mention {
    font-size: 13px;
    padding-top: 0px;
}
.first-signature{
  width: 33%;
}
}
@media only screen and (max-width: 575px){
.first-signature{
  width: 100%;
}
.last-signature{
  width: 100%;
}
.first-signature input{
  width: 100%;
}
.last-signature input{
  width: 100%;
}
.report {
  width: 43%;
}
}
@media only screen and (max-width: 480px){
.first-signature{
  margin-right: 10px;
  float: none;
  width: 100%;
  padding: 10px;
}
.first-signature input{
  width: 100%
}
.last-signature{
  float: none;

}
.left-side{
    float: none;
    width: 100%;
  }
  .right-side{
    float: none;
    width: 100%;
  }
.text-contain {
width: 25%;
}
.report{
  width: 100%;
}

}
@media only screen and (max-width: 375px){
.logo{
  width: 150px;
  float: none;
  margin: auto;
}
.user-image{
  float: none;
  width: 70%;
  margin: auto;
  text-align: center;
}
}
@media print{
.content{
  max-width: 53%;
}
.user-image{
max-width: 18%
}
.user-image img{
  width: 100px!important;
}
}
