.border{
    border: 1px solid red;
}
.border{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 15px solid 	#000000;
    margin: 20px;
}
p.dotted {
    outline-style: dotted;
    width: 246px;
    margin-left: 229px;
}


